#root {
  background: url("/images/bg_blur.png");
  background-size: cover;
  background-position: 25%;
  font-family: "Oswald", sans-serif;
}

.btn.addActivityButton,
.btn.goToGeoloc {
  width: 70px;
  height: 70px;
  background-color: #e57419;
  border-radius: 50%;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
  border: 0;
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 0;
  z-index: 0;
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.btn.goToGeoloc {
  font-size: 35px;
  bottom: 135px;
}

.btn.addActivityButton:hover,
.btn.goToGeoloc {
  box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.iconOnGeoloc {
  text-align: center;
  color: #fff;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  padding: 4px;
  padding-top: 5px;
  width: 25px;
  height: 25px;
}
