.lastFiveActivities {
  padding: 20px;
}

.lastFiveActivities .btn {
  background: none !important;
  border: none;
  margin: 0 !important;
  border-radius: 20px !important;
  text-transform: uppercase !important;
  font-size: 15px;
  padding: 0;
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
}

.lastFiveActivities .btn a {
  color: #e57419 !important;
}

.lastFiveActivities .lastActivity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}

.lastFiveActivities .lastActivity {
  background-color: #fff;
}

.lastFiveActivities .lastActivity:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.lastFiveActivities .lastActivity:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.lastFiveActivities p {
  margin-bottom: 0;
}
